body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.card {
    width: 320px;
    height: 540px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative; /* Necesario para que la línea se limite al card */
    overflow: hidden; /* Esconde cualquier cosa que salga de los bordes */
}

/* Header Section */
.card-header {
    padding: 10px;
    background: #ffffff;
}

.logo {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}

.card-header h1 {
    font-size: 16px;
    font-weight: 100; /* Letra más fina */
    color: #f58220;
    margin: 0;
}

/* Body Section */
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card-body h2 {
    font-size: 18px;
    font-weight: 400; /* Letra más fina */
    color: #f58220;
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
}

.student-code {
    font-size: 19px;
    font-weight: 400; /* Letra más fina */
    margin: 5px 0;
    color: #f58220;
}

.line {
    width: 80%;
    height: 2px;
    background: #f58220;
    margin: 10px 0;
}

.student-photo {
    width: 150px; /* Aumenta el tamaño de la imagen */
    height: 180px; /* Ajusta la altura proporcionalmente */
    object-fit: cover; /* Asegura que la imagen se recorte si es necesario */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Asegura que se comporte como un bloque independiente */
}

.card-footer {
    padding: 10px;
    background: #ffffff;
}

.role {
    font-size: 14px;
    font-weight: 100; /* Letra más fina */
    color: #f58220;
    font-weight: bold;
    margin: 5px 0;
}

.barcode {
    width: 80%;
    height: auto;
    margin: 10px 0;
}

.line-orange {
    width: 100%; /* Ocupa todo el ancho del card */
    height: 4px; /* Ajusta el grosor de la línea */
    background: #f58220; /* Color naranja */
    position: absolute; /* Se posiciona dentro del card */
    left: 0;
    animation: moveLineInside 3s linear infinite; /* Animación continua */
    z-index: 0; /* Aparece detrás de los demás elementos */
    box-shadow: 0 0 15px 5px rgba(245, 130, 32, 0.5);
}

/* Animación continua */
@keyframes moveLineInside {
    0% {
        top: 0; /* Comienza en la parte superior del recuadro */
    }
    50% {
        top: 100%; /* Pasa por debajo de todo el recuadro */
    }
    100% {
        top: 0; /* Regresa a la parte superior */
    }
}
